In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from statsmodels.tsa.seasonal import seasonal_decompose

# Importationdu jeu de données
Nous allons travailler avec un jeu de données qui correspond au nombre de passagers par jour enregister par une compagni aérienne de 1949 à 1960.

In [13]:
data= pd.read_csv("airline_passengers.csv", index_col='Month',parse_dates=True)
data.head()

            Thousands of Passengers
Month
1949-01-01                      112
1949-02-01                      118
1949-03-01                      132
1949-04-01                      129
1949-05-01                      121

# I- le modèle ARMA

### 1- Identification

### 2- Estimation

### 3- Validation

### 4- Prévision